<footer class="site-footer" data-nosnippet>
    <div class="wrap footer-inner">
        <div id="social-links" class="social-links" aria-label="Social links">
            <a href="https://www.youtube.com/@CloseEncoders" target="_blank" class="social-link">
                <img class="social-icon" src="/assets/img/social/youtube-round.svg" alt="" aria-hidden="true">
            </a>
            <a href="https://www.instagram.com/closeencoders" target="_blank" class="social-link">
                <img class="social-icon" src="/assets/img/social/instagram-round.svg" alt="" aria-hidden="true">
            </a>
            <a href="https://x.com/closeencoders" target="_blank" class="social-link">
                <img class="social-icon" src="/assets/img/social/x-round.svg" alt="" aria-hidden="true">
            </a>
            <a href="https://www.pinterest.com/closeencoders" target="_blank" class="social-link">
                <img class="social-icon" src="/assets/img/social/pinterest-round.svg" alt="" aria-hidden="true">
            </a>
        </div>
        <small class="rights">© 2026 Close Encoders. All rights reserved.</small>
    </div>
</footer>
