<footer class="site-footer" data-nosnippet>
    <div class="wrap footer-inner">
        <div id="social-links" class="social-links" aria-label="Social links">
            <a href="https://www.youtube.com/@CloseEncoders" class="social-link">
                <img class="social-icon" src="/assets/img/social/youtube-round.svg" alt="" aria-hidden="true">
                YouTube
            </a>
        </div>
        <small class="rights">© 2026 Close Encoders. All rights reserved.</small>
    </div>
</footer>
