/* Copyright 2026 Close Encoders - closeencoders.com - All Rights Reserved */
.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: start;
}
.post-card-image-container {
  overflow: hidden;
}
.post-card img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: transform .1s ease-in-out;
}
.post-card h2 {
  margin: 1rem 0 0;
  font-size: 1.3rem;
}
.post-card p {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: var(--alt-text-color);
  font-size: 16px;
  line-height: 1.2;
  margin-top: 7px;
  margin-bottom: 0;
}
.post-card:hover h2 {
  color: var(--active);
  text-shadow: var(--active-effect);
  text-decoration: underline;
}
.post-card:hover img {
  transform: scale(1.02);
}

#posts-space {
  position: relative;
  padding-top: 30px;
}
.post-search h2 {
  font-size: 1.3rem;
}

.posts-search-panel {
  display: flex;
  background-color: var(--bg-color);
  align-items: center;
  gap: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.posts-search-panel input {
  color: var(--accent-soft) !important;
  flex-grow: 1;
}
.posts-search-panel .btn {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

#posts-search-input {
  padding: 10px 12px;
  border: 1px solid var(--line);
  background: transparent;
  color: var(--text-color);
  height: 3rem;
  margin: auto;
  font-size: 14pt;
}

@media (max-width: 1001px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .post-card:hover,
  .post-card:hover img,
  .post-card:hover span,
  .post-card:hover h2 {
    color: var(--text-color);
    text-shadow: none;
    text-decoration: none;
    animation: none;
    transform: none;
    transition: none;
  }
}

@media (max-width: 660px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

.banner {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: 0 -50vw;

  /* MIN: 330px
     VAL: 30vh (Scales with height)
     MAX: 40vw (Scales with width, but capped at 32rem for giant screens)
  */
  height: clamp(330px, 30vh, min(40vw, 32rem));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  color: var(--active);
  text-align: center;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  -webkit-mask-image: linear-gradient(to bottom,
      black 0%,
      rgba(0, 0, 0, 0.981) 8.6%,
      rgba(0, 0, 0, 0.925) 16.3%,
      rgba(0, 0, 0, 0.837) 23.5%,
      rgba(0, 0, 0, 0.724) 30.5%,
      rgba(0, 0, 0, 0.594) 37.7%,
      rgba(0, 0, 0, 0.457) 45.5%,
      rgba(0, 0, 0, 0.323) 54.3%,
      rgba(0, 0, 0, 0.203) 64.7%,
      rgba(0, 0, 0, 0.106) 77.4%,
      rgba(0, 0, 0, 0.038) 92.4%,
      transparent 100%);

  mask-image: linear-gradient(to bottom,
      black 0%,
      rgba(0, 0, 0, 0.981) 8.6%,
      rgba(0, 0, 0, 0.925) 16.3%,
      rgba(0, 0, 0, 0.837) 23.5%,
      rgba(0, 0, 0, 0.724) 30.5%,
      rgba(0, 0, 0, 0.594) 37.7%,
      rgba(0, 0, 0, 0.457) 45.5%,
      rgba(0, 0, 0, 0.323) 54.3%,
      rgba(0, 0, 0, 0.203) 64.7%,
      rgba(0, 0, 0, 0.106) 77.4%,
      rgba(0, 0, 0, 0.038) 92.4%,
      transparent 100%);
}

.banner h1 {
  position: relative;
  z-index: 1;
  margin: 0;
  color: var(--active);
  text-shadow: var(--active-effect);
  line-height: 1.1;
  padding: 0 1.1rem;
  font-size: clamp(2rem, 8vw, 4.5rem);
}

.banner p {
  position: relative;
  z-index: 1;
  margin: 0;
  line-height: 1.4;
  padding: 0 1.1rem;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}
/* Copyright 2026 Close Encoders - closeencoders.com - All Rights Reserved */