.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .6rem;
  width: 100%;
  align-items: start;
}
.post-card {
  display: block;
  width: 100%;
}
.post-card-image-container {
  overflow: hidden;
}
.post-card img {
  display: block;
  height: auto;
  width: 100%;
  /* Fixes the shape of all images */
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}
.post-card:hover h2 {
  color: var(--active);
  text-shadow: var(--active-effect);
  text-decoration: underline;
}
.post-card:hover img {
  transform: scale(1.05);
}
.post-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  line-height: 1.1;
}
.post-card p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

#posts-space {
  position: relative;
  padding-top: 30px;
}
.post-search h2 {
  font-size: 1.3rem;
}

.posts-search-panel {
  display: flex;
  background-color: var(--bg-color);
  align-items: center;
  gap: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}
.posts-search-panel input {
  color: var(--accent-soft) !important;
  flex-grow: 1;
}
.posts-search-panel .btn {
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
}

#posts-search-input {
  padding: 10px 12px;
  border: 1px solid var(--line);
  background: transparent;
  color: var(--text-color);
  height: 3rem;
  margin: auto;
  font-size: 14pt;
}


@media (max-width: 1001px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  .post-card:hover,
  .post-card:hover img,
  .post-card:hover span,
  .post-card:hover h2 {
    color: var(--text-color);
    text-shadow: none;
    text-decoration: none;
    animation: none;
    transform: none;
    transition: none;
  }
}

@media (max-width: 660px) {
  .posts {
    grid-template-columns: 1fr;
  }
}


body {
  margin: 0;
  font-family: sans-serif;
}

.banner {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: 0 -50vw -85px;

  height: 30vh;
  min-height: 300px;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-image: url("/assets/img/main-banner.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  -webkit-mask-image: linear-gradient(to bottom,
      black 0%,
      rgba(0, 0, 0, 0.981) 8.6%,
      rgba(0, 0, 0, 0.925) 16.3%,
      rgba(0, 0, 0, 0.837) 23.5%,
      rgba(0, 0, 0, 0.724) 30.5%,
      rgba(0, 0, 0, 0.594) 37.7%,
      rgba(0, 0, 0, 0.457) 45.5%,
      rgba(0, 0, 0, 0.323) 54.3%,
      rgba(0, 0, 0, 0.203) 64.7%,
      rgba(0, 0, 0, 0.106) 77.4%,
      rgba(0, 0, 0, 0.038) 92.4%,
      transparent 100%);

  mask-image: linear-gradient(to bottom,
      black 0%,
      rgba(0, 0, 0, 0.981) 8.6%,
      rgba(0, 0, 0, 0.925) 16.3%,
      rgba(0, 0, 0, 0.837) 23.5%,
      rgba(0, 0, 0, 0.724) 30.5%,
      rgba(0, 0, 0, 0.594) 37.7%,
      rgba(0, 0, 0, 0.457) 45.5%,
      rgba(0, 0, 0, 0.323) 54.3%,
      rgba(0, 0, 0, 0.203) 64.7%,
      rgba(0, 0, 0, 0.106) 77.4%,
      rgba(0, 0, 0, 0.038) 92.4%,
      transparent 100%);

  text-shadow: var(--active-effect);
  color: var(--active);
}

.banner-content {
  text-align: center;
}